<!-- Hero Section -->
<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>ReuseRepo</h1>
            <p>Save the World, One Reuse at a Time</p>
            <button class="main__btn"><a href="/">Get Started</a></button>
        </div>
        <div class="main__img--container">
            <img src="assets/images/pic1.png" alt="pic" id="main__img">
        </div>
    </div>
</div>

<!-- Services Section -->
<div class="services">
    <div class="services__container">
        <div class="services__card">
            <h2>Looking for the perfect passion project?</h2>
            <p>We just might have what you need!</p>
            <button><i class="fas fa-search"></i>Search</button>
        </div>
        <div class="services__card">
            <h2>Wanna start reusing but don't know where to start?</h2>
            <p>Browse through our countless articles!</p>
            <button><i class="fas fa-list"></i>Browse</button>
        </div>
    </div>
</div>